<div id="<%= dom_id line_item %>">
  <p class="my-5">
    <li> <%= line_item.quantity %> &items; <%= line_item.product.title %> </li>
  </p>

  <% if action_name != "show" %>
    <hr class="mt-6">
  <% end %>
</div>
